body {
    background-color: #00A5CF;
    margin: 20px;
}

#pokemon{
  display: flex;
  flex-direction: column;
}

#compare-pokemon{
  display: flex;
  flex-direction: column;
}

#stats{
  display: flex;
  flex-direction: row;
}

#compare-stats{
  display: flex;
  flex-direction: row;
}

#pokemon-moves{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#compare-pokemon-moves{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#moves{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#page-title{
  display: flex;
  justify-content: center;
  background-color: #fde9d9;

}

#stat-table{
  padding: 10px;
  margin: 20px;
}

#compare-stat-table{
  padding: 10px;
  margin: 20px;
}

table#stat-table tr.even{
  background-color: #fde9d9;
}
